.franch-calculator {
  margin: 4em auto 0;
  max-width: 1378px;
}

.steps-stack {
  min-height: 500px;
}

.steps-stack__item {
  min-width: 0;
}

.franch-calc-container {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);

  @media (max-width: 768px) {
    grid-template-columns: minmax(0, 1fr);
    min-height: unset;
  }
}

@media (max-width: 768px) {
  .steps-stack {
    min-height: unset;
  }
}

.franch-calc-container__part {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 40px 32px;
  }

  .content {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 2vw, 48px);
  }

}

.franch-calc-container__part.left {
  @media (max-width: 768px) {
    gap: 48px;
  }
}

.franch-calc-container__part.right {
  gap: 24px;

  @media (max-width: 768px) {
    min-height: 300px;
  }
}

.input-container .checkbox {
  margin: 48px 0;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  label {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

.result-headline {
  display: flex;
  align-items: center;
  gap: 24px;
}
